/* Styles généraux */
* {
  margin: 4px;
  padding: 1px;
  box-sizing: border-box; /* Assurez-vous que cette ligne soit activée */
  scroll-behavior: smooth;
}

/* Corps de page */
body {
  cursor: url('./image/curseur.svg'), auto;
  line-height: 1;
  background-color: beige;
  color: #5e3b25;
  overflow-y: auto; /* Assurez-vous que cette propriété est correcte */
}

/* Suppression de largeurs fixes dans le header */
header {
  font-size: 30px;
  width: 100%; /* Assurez-vous que la largeur est de 100% */
  background-color: maroon;
  z-index: 1000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: sticky; /* Remplace fixed par sticky pour ne pas avoir de défilement erroné */
}

/* Ajout de flexbox pour la version mobile */
@media (max-width: 768px) {
  /* Paramètres du header pour petits écrans */
  header {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }

  /* Utilisation de 100% pour les images */
  .about-img, .gallery-item img, .gallery-item video {
    width: 100%; 
    height: auto; 
    object-fit: contain; /* Remplace cover par contain pour éviter les images coupées */
  }

  /* Correction de la timeline */
  .timeline {
    padding: 20px;
    width: 100%; /* Assurez-vous que la timeline occupe toute la largeur */
  }

  .timeline-item {
    flex-direction: column; /* Passage en colonne pour une meilleure lisibilité */
  }

  .timeline-date {
    left: 0;
    top: 0;
    margin-right: 10px;
  }

  .timeline-content {
    width: 100%; /* Assurez-vous que la timeline s'adapte à l'écran */
    text-align: left;
  }

  /* Carrousel */
  .carousel-container {
    width: 100%;
  }

  .carousel-items {
    display: block;
    overflow: auto;
  }

  .carousel-btn {
    font-size: 18px;
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  /* Suppression de la largeur et hauteur fixes dans les images et vidéos */
  .gallery-item img, .gallery-item video {
    max-width: 100%;
    object-fit: contain; /* Rendre l'image responsive */
    filter: blur(0);
  }

  /* Bloc texte */
  section p {
    font-size: 18px;
  }

  /* Amélioration des liens */
  nav ul li a, .footer-contact a, .social-icons a i {
    font-size: 20px;
    padding: 10px;
  }
  
  /* Plus de détails pour les polices */
  .intro h1 {
    font-size: 150px;
  }
  
  .intro p {
    font-size: 35px;
  }

  /* Assurez-vous que les éléments ne se chevauchent pas */
  .about-text ul li {
    font-size: 18px;
  }

  .social-icons a i {
    font-size: 2rem;
  }

  footer {
    text-align: center;
    padding: 10px;
  }
}

